.left {
    background-image: url(../images/wrmain1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(85vh - 7px);
}

.right {
/*  padding-left: 40px;*/
  min-height: calc(85vh - 7px);
  text-align: justify;
    padding: 0 20px;
}

h2 {
    text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
h2 span {
  border: 2px solid #524f4f;
  border-left: none;
  border-right: none;
    padding: 4px 0;
}
.sub-menu, {
  z-index: 1001;
}

.nav-child-wrapper {
  z-index: 901;
}
.cont {
    width: 100%;
}