.left, .right {
    min-height: calc(100vh - 109px);
}

p {
    text-align: justify;
}

.left {
    background-image: url(../images/cazanova.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    padding: 0 20px;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}
 h3 span {
    border: 2px solid #333;
    border-right: none;
    border-left: none;
     padding: 5px 0;
}

.cont {
    width: 100%;
}

.services {
    color: #ECC284;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #ECC284;
    border-radius: 3px;
    float: right;
    margin-top: 40px;
}
.services:hover {
    text-decoration: none;
    background: #ECC284;
    color: #fff;
      transition: all 0.7s linear;
}