.left,
.right {
    height: calc(100vh - 109px);
    padding-top: 40px;
}


h4 {
  text-transform: uppercase;
  border-left: none;
  border-right: none;
/*  text-align: center;*/
  padding: 5px;
/*  margin-top: 15%;*/
/*  color: #ECC284;*/
  text-decoration: underline;
   
}

h4:hover {
    color: #ECC284;
    transition: color 0.5s linear;
    cursor: pointer;
}

h5 {
    border-bottom: 2px solid #ECC284;
    font-size: 18px;
     margin-top: 20px;
}

p {
  font-size: 15px;
}

.descr a {
  color: #ECC284;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #ECC284;
  border-radius: 3px;
  width: 120px;
  float: right;
}
.descr a:hover {
  text-decoration: none;
  background: #ECC284;
  color: #fff;
  transition: all 0.7s linear;
}
.cont {
    width: 100%;
}
.price {
    float: right;
}
.right {
     padding: 20px 40px;
}