header {
	width: 100%;
	background-color: #1AA4FF;
	margin-left: -10px;
	padding-right: 16px;
	margin-top: -8px;
}
ul {
	width: 900px;
	margin: 0 auto;
	list-style: none;
}
li {
	display: inline-block;
}
a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFDFE;
	font-size: 14px;
	padding: 11px 16px;
	font-family: Impact;
	font-weight: normal;
	position: static;
}

li a:hover {
	color: #9FA0B4;
	background-color: #EEEEEE;
}
#navigation li:hover > .dropdown {
	display: inline-block;
} 
.dropdown {
	width: 100%;
	display: none;
	background-color: #EEEEEE;
	margin: 0 auto;
	position: absolute;
	top: 39px;
	left: 0; 
	right: 0;
}
.dropdown li a{
	color: #9FA0B4;
/*	margin-left: -5px;*/
	padding-bottom: 10px;
	font-family: sans-serif;
	text-transform: none;
}
.drop-list {
	width: 900px;
	margin: 0 auto;
	list-style: none;
}
.drop-list li {
	margin-left: -10px;
}