body {
    font-size: 15px;
    background: #fcfcf6;
    color: #000000;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    min-height: 100%;
    width: 100%;
    line-height: 1.6;
}
.content {
/*    background-image: url(../images/wrmain1.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -6px;
    height: 564px;
    padding: 0;
/*    display: inline-block;*/
}

.picture, .description {
    width: 49.85%;
    margin: 0 auto;
    border: none;
    display: inline-block;
}
.picture {
        height: 100%;
    background-image: url(../images/wrmain1.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
}
.description {
    padding: 20px 35px;
    margin-top: -20px;
    text-align: justify;
}
h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 35px;
}