ul {
	list-style-type: none;
/*    margin-top: -20px;*/
}
.langs-inline, .menu-items {
    margin-top: -30px;
}
.sub-menu {
	display: none;
}
.menu, .langs, li {
	display: inline-block;
}

li:hover .dropdown {
	display: inline-block;
/*    transition: display 2s linear;*/
/*    top: 50;*/
    
} 
li {
    margin: 0 20px;
    padding: 25px 0;
    
}
.dropdown {
	width: 100%;
    display: none;
	background: rgba(0,0,0,0.7);
	margin: 0 auto;
	position: absolute;
	top: 84px;
	left: 0; 
	right: 0;
    height: 60px;
}

a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding: 5px 0;
}
.active {
    color: #d3a352;
}
.langs-inline li a {
    border-top: none;
}
a:hover {
    color: #d3a352;
    transition: color 0.7s ease;
    text-decoration: none;
    border: 1px solid #d3a352;
    border-left: none;
    border-right: none;
}
.langs li {
    margin: 20px 3px;
}
.top-line {
    width: 1124px;
    margin: 0 auto;
    padding-top: 20px;
}
.header {
    background: #FFFCDE;
    height: 90px;
}
.menu-items {
    width: 954px;
}

.drop-list a {
    color: #FFFFFF;
}

.drop-list a:hover {
    color: #d3a352;
    transition: color 0.7s linear;
    text-decoration: none;
    border: none;
}
.drop-list {
    display: table;
    margin: 0 auto;
/*    height: 100%;*/
    width: 800px;
}
.logo {
    color: #fcfcf6;
    text-indent: -9999px;
    display: inline-block;
    width: 20%;
    height: 80px;
    margin: 0 auto;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}