body {
  font-size: 15px;
  background: #fcfcf6;
  color: #000000;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  min-height: 100%;
  width: 100%;
  line-height: 1.6;
}
.content {
    height: 564px;
}
.left, .right {
     width: 49.85%;
    margin: 0 auto;
    border: none;
    display: inline-block;
}

input, textarea {
    width: 460px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    outline: 0;
}
.left {
    padding: 30px 100px;
}
button {
    border: none;
    background: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    width: 120px;
/*    margin: 0 auto;*/
    float: right;
} 
.right {
    text-align: justify;
    padding: 0 40px;
    border-left: 2px solid black;
}
.send {
    text-align: center;
    font-weight: 600;
}