.photo,
.descr {
    height: calc(43vh - 7px);
}

.photo-left {
    background-image: url(../images/interior5.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-right {
    background-image: url(../images/event2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
  text-transform: uppercase;
/*  border: 1px solid #805317;*/
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 5px;
  margin-top: 15%;
  color: #ECC284;
  text-decoration: underline;
}

p {
  text-align: center;
}

.descr a {
  color: #ECC284;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #ECC284;
  border-radius: 3px;
  width: 120px;
/*  margin-left: 195px;*/
  float: right;
}
.descr a:hover {
  text-decoration: none;
  background: #ECC284;
  color: #fff;
  transition: all 0.7s linear;
}
.row {
    max-width: 100%;
    margin: auto;
}