.left, .right {
    min-height: calc(100vh - 109px);
}

p {
    text-align: justify;
}
.left p {
    margin-top: 40px;
}
.right a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.left img {
    width: 100%;
}

.right {
    padding: 0 20px;
}
.right a span {
    border-bottom: 2px solid #333;
}

.right a:hover span{
    border-bottom: 2px solid #d3a352;
}

.right a:hover {
    color: #d3a352;
    transition: color 0.7s ease;
}

.cont {
    width: 100%;
}