body {
	width: 100%;
	min-width: 1024px;
	max-width: 1400px;
	background: url(../img/testimonials-bckgrnd.png) repeat no-repeat;
	margin: 0 auto;
}
.content {
	max-width: 99%;
	width: 1024px;
	height: 98px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: #3170A8;
	padding: 35px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 28px;
}
.word {
	color: #EE8129;
	font-weight: normal; 
}

.testimonial {
  display: inline-block;
	margin: 0 auto;
}

img {
	width: 98px;
	height: 98px;
  display: inline-block;
  float: left;
  margin-right: 26px;
}

.block {
  display: inline-block;
  position: relative;
  background: #f7f7f7;
  width: 330px;
	height: 96px;
  padding: 0 15px;
  border: 1px solid #e0e0e0;
}

.block:before {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: transparent #f7f7f7 transparent transparent;
  top: 37%;
  right: 100%;
}

.left {
	margin-right: 48px;
}

h5 {
	color: #3070A8;
	font-style: italic;
  border-bottom: 1px dotted #959090;
	margin: 10px 0;
	line-height: 1.6em;
}
p {
	margin: 2px 0;
  color: #959090;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
.cust {
	float: right;
}