.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.container{
	width: 1172px;
	margin: 0 auto;
}
a, a:hover{
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
header {
	position: absolute;
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.2);
	width: 1480px;
}
.logo {
	float: left;
}
.menu{
	float: right;
}
.menu li {
	float: left;
	margin-right: 37px;	
}
.menu li:last-child {
	margin-right: 0;	
}
.menu a{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
}
a:visited{
	text-decoration: none;
}
a:hover{
	color: #4bcaff;
	border-top: 2px solid #4bcaff;
}
#base {
	height: 800px;
	width: 1480px;
	background: #222 url(../img/background.png) no-repeat center bottom;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
			 -o-background-size: cover;
					background-size: cover;
	padding: 0 0 0 0;
	margin-left: -10px;
	margin-top: -10px;
	border-bottom: 4px solid #4bcaff;
}
#text {
	width: 670px;
	height: 130px;
	padding-top: 300px;
	padding-left: 680px;
	color: #fff;
	font-family: 'PT Serif', serif;
}
#lor {
	font-size: 18px;
	margin-top: -20px;
}
#sup {
	font-size: 45px;
}
#amazing {
	font-weight: bold;
}
.buttons {
	padding-left: 680px;
	padding-top: 100px;
}
.button {
	width: 195px;
	height: 65px;
	border-radius: 10px;
	font-size: 14px;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	background: rgba(0, 0, 0, 0);
	color: #fff; 
	text-transform: uppercase;
}
.button:hover {
	background-color: #4bcaff;
}
.button:first-child {
	margin-right: 40px;
}
.nav {
	margin-top: -200px; 
}
#nav-left {
	float: left;
	margin-left: 45px;
	height: 55px;
	width: 55px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}
#nav-left:hover{
	background-color: #4bcaff;
}
#nav-left img {
	margin-top: 22px;
	margin-left: 24px;
}
#nav-right {
	float: right;
	height: 55px;
	width: 55px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	margin-right: 40px;
}
#nav-right:hover{
	background-color: #4bcaff;
}
#nav-right img {
	margin-top: 22px;
	margin-left: 26px;
}
.icons {
	margin-left: 200px;
	padding-left: 480px;
	padding-top: 250px;
}
.icons div{
	display:inline-block;
}
.icons p{
	font-family: 'Roboto', sans-serif;
	color: #fff; 
	font-size: 18px;
	margin-right: 15px;
}
#apple {
	width: 55px;
	height: 55px;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	margin-right: 15px;
}
#apple img {
	margin-top: 14px;
	margin-left: 18px;
}
#apple:hover {
	background-color: #4bcaff;
}
#android {
	width: 55px;
	height: 55px;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.2);
}
#android img {
	margin-top: 14px;
	margin-left: 17px;
}
#android:hover {
	background-color: #4bcaff;
}
.slider{
	margin-left: 707px;
	margin-top: 30px;
}
.slider div{
	display:inline-block;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	border: 1px solid #fff;
	margin-right: 10px;
}
.slider div:hover{
	background-color: #4bcaff;
	border: none;
	width: 16px;
	height: 16px;
	border-radius: 9px;
}