/*FONTS*/

@font-face {
    font-family: FuturaPTDemi;
    src: url(../fonts/FuturaPT/FuturaPTDemi.otf);
}

@font-face {
    font-family: FuturaPTBook;
    src: url(../fonts/FuturaPT/FuturaPTBook.otf);
}

@font-face {
    font-family: FuturaPTLight;
    src: url(../fonts/FuturaPT/FuturaPTLight.otf);
}

@font-face {
    font-family: FuturaPTLightObl;
    src: url(../fonts/FuturaPT/FuturaPTLightOblique.otf);
}

@font-face {
    font-family: GothamProBol;
    src: url(../fonts/GothamPro/GothaProBol.otf);
}

@font-face {
    font-family: GothaProBla;
    src: url(../fonts/GothamPro/GothaProBla.otf);
}

@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
}

/*/////////////////////////////*/


h2 {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 36px;
}

.header-info {
    width: 100%;
    height: 658px;
    background-image: url(../img/main_image.jpg);
    background-position: center;
}

a.navbar-brand img {
    vertical-align: top;
    margin-top: -15px
}

.header-info .container {
    padding: 0 15px;
}
.navbar.navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ddd;
}

.navbar-right li ul {
    margin-top: 10px;
}

ul.navbar-nav li {
    color: #fff;
}

ul.navbar-nav li a {
    font-family: Arial;
    font-size: 16px;
}

.navbar-right li ul li {
    list-style-type: none;
}

.navbar-right li ul {
    position: relative;
}

.navbar-right li ul li:first-child {
    position: absolute;
    left: 18px;
    top: 0;
    color: rgb(255, 163, 3);
    font-size: 16px;
}

.navbar-right li ul li:last-child {
    font-weight: 700;
}

.content {
    font-size: 0;
    margin-top: 120px;
}

.content-left {
    text-transform: uppercase;
    font-size: 40px;
    vertical-align: top;
    margin-top: 30px;
    font-family: GothamProBol;
    line-height: 1.2em;
    color: #fff;
}

.content-right {
    font-size: 16px;
    height: 100%;
    position: relative;
    color: #fff;
}
.content-right button {
    width: 275px;
    height: 46px;
    text-align: center;
    border-radius: 23px;
    background-image: linear-gradient(0deg, #f58220 0%, #ffdd00 100%);
    border: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    outline: none;
}
.certified {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.content-right h3 {
    width: 80px;
    font-family: FuturaPTDemi;
    font-size: 44px;
}

.content-right h3,
.content-right p {
    display: inline-block;
    margin: 40px 0;
}

.content-right p {
    width: 120px;
}

.content-right h3,
.content-right .options {
    margin-left: 190px
}

.content-right button {
    margin-left: 160px;
}

.options {
    padding-left: 0px;
}
.options li {
    margin-bottom: 8px;
    list-style-type: none;
}

.options li:last-child {
    margin-bottom: 0;
}

.options li:before {
    content: '\2714';
    margin-left: -30px;
    color: rgb(255, 163, 3);
    position: absolute;
}

.about {
    text-align: center;
    margin-top: 40px;
    font-family: Verdana;
    color: #fff;
    font-size: 18px;
}

.about span{
    color: rgb(255, 163, 3);
    font-size: 32px;
}

#portfolio .portfolio-content h3 {
    margin-bottom: 20px;
    font-family: FuturaPTDemi;
    font-size: 36px;
    text-transform: uppercase;
}

#portfolio .portfolio-content p {
    font-size: 16px;
    font-family: FuturaPTBook;
}

#portfolio .ajour,
#portfolio .melissa,
#portfolio .dfstore,
#portfolio .louise {
    min-height: 656px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

#portfolio .ajour {
    background-image: url(../img/ajour.jpg);
}
#portfolio .melissa {
    background-image: url(../img/melissa.jpg);
}
#portfolio .dfstore {
    background-image: url(../img/new_proj.jpg);
}
#portfolio .louise {
    background-image: url(../img/louise-kennedy.jpg);
}

#portfolio .melissa ,
#portfolio .louise {
    color: #fff;    
} 

.portfolio-pref {
    width: 100%;
    margin-top: 30px;
}

.portfolio-pref i {
    font-size: 50px;
}

.portfolio-pref div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.portfolio-pref div:nth-child(2) {
    margin: 0 10px;
}

#portfolio .portfolio-content {
    margin-top: 60px;
    padding-left: 50px;
}

.ajour .portfolio-content {
    width: 420px;
}

.melissa .portfolio-content {
    width: 580px;
}

.dfstore .portfolio-content {
    width: 580px;
}
#portfolio .dfstore h3,
#portfolio .dfstore i {
    color: rgb(210, 30, 41);
}

.louise .portfolio-content {
    width: 405px;
}

#e-commerce .row div>div {
    border: 1px solid rgb(255, 163, 3);
    border-radius: 5px;
    font-family: Calibri;
    font-size: 16px;
}

#e-commerce .row div>div:hover {
    background-image: linear-gradient(0deg, #f58220 0%, #ffdd00 100%);
    color: #fff;
    cursor: default;
}

#e-commerce h2,
#e-commerce h3 {
    font-weight: 700;
}

.devops {
    padding-left: 20px;
    padding-top: 70px;
    height: 410px;
    padding-right: 70px;
}

.magento h3, 
.erp h3,
.pim h3,
.wms h3,
.projecting h3, 
.mobile-app h3 {
    margin-top: 0px;
}

.magento, .erp, .pim, .wms, .projecting, .mobile-app {
    height: 195px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px 50px 20px 20px; 
}

.erp {
    padding-right: 45px;
}

#e-commerce .row div .arrow {
    border: none;
}

.arrow {
    width: 36px;
    height: 36px;
    background-image: url(../img/arrow-color.svg);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}

#e-commerce .row div>div:hover .arrow {
    background-image: url(../img/arrow-hover.svg);
}

#e-commerce a img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#e-commerce .devops .arrow {
    position: inherit;
/*    right: 25px;*/
    margin-top: 40px;
}
#team {
    text-align: center;
    padding-bottom: 90px;
}

.team-member {
    width: 156px;
    height: 230px;
    display: inline-block;
    vertical-align: top
}

.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    background-image: url(../img/team-sprite.jpg);
}

.member-photo.artem {
    background-position: -2px -2px;
}

.member-photo.jackleen {
    background-position: -170px -2px;
}

.member-photo.andrew {
    background-position: -340px -2px;
}

.member-photo.anton {
    background-position: -510px -2px;
}

.member-photo.kirill {
    background-position: -679px -3px;
}

.member-photo.john {
    background-position: -850px -2px;
}

.member-photo.artem-s {
    background-position: -2px -2px;
}

.member-photo.jackleen-s {
    background-position: -170px -2px;
}

.member-photo.andrew-s {
    background-position: -340px -2px;
}

.member-photo.anton-s {
    background-position: -510px -2px;
}

.member-photo.kirill-s {
    background-position: -679px -3px;
}

.member-photo.john-s {
    background-position: -850px -2px;
}

.member-photo.artem-t {
    background-position: -2px -2px;
}

.member-photo.jackleen-t {
    background-position: -170px -2px;
}

.member-photo.andrew-t {
    background-position: -340px -2px;
}

.member-photo.anton-t {
    background-position: -510px -2px;
}

.member-photo.kirill-t {
    background-position: -679px -3px;
}

.member-photo.john-t {
    background-position: -850px -2px;
}

.team-member h4 {
    font-family: FuturaPTDemi;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.team-member p {
    font-family: FuturaPTLight;
}

#modules {
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding-top: 40px;
}
.module-item {
    width: 250px;
    height: 245px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.module-picture {
    width: 250px;
    height: 160px;
    border-radius: 5px;
    background-image: url(../img/brand-sprite.jpg);
}

.module-picture.loouse {
    background-position: 10px -25px;
}

.module-picture.ajour {
    background-position: -290px -25px;
}

.module-picture.fitness {
    background-position: -590px -25px;
}

.module-picture.air-force {
    background-position: -885px -25px;
}

.module-picture.lighting {
    background-position: 5px -320px;
}

.module-picture.odabash {
    background-position: -295px -330px;
}

.module-picture.kennedy {
    background-position: -585px -330px;
}

.module-picture.ajour-s {
    background-position: -885px -320px;
}

p.module-description {
    margin-top: 10px;
    font-family: Calibri;
    font-size: 16px;
}

#questions,
#consultation {
    background-color: rgb(243, 243, 243);
}

button.accordion {
    background-color: #fff;
    color: #444;
    margin-top: 10px;
    cursor: pointer;
    padding: 18px 30px 18px 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: Arial;
    font-size: 22px;
    position: relative;
    border-radius: 5px;
}

button.accordion.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button.accordion i {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    transition: transform 0s;
}

button.accordion.active i {
    margin-top: -7px;
    transform: rotate(-180deg);
}

.question-list {
    font-family: Arial;
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
}

.question-list li {
    margin-bottom: 10px;
    margin-left: 30px;
}

.question-list li:last-child {
    margin-bottom: 30px;
}

.question-list li:before {
    content: '\2714';
    vertical-align: bottom;
    margin-left: -30px;
    color: rgb(255, 163, 3);
    font-size: 18px;
    font-weight: 700;
    position: absolute;
}


#consultation {
    padding-bottom: 160px;
}

.contact-form {
    text-align: center;
}
.phone {
    height: 63px;
    width: 388px;
    border: 2px solid rgb(255, 163, 3);
    border-radius: 37px;
    margin: auto;
    margin-bottom: 20px;
}

.contact-form .phone p {
    line-height: 1.5em;
    font-size: 42px;
    font-family: Verdana;
}

.contact-form .phone p span {
    font-size: 26px;
    vertical-align: top;
}

.contact-form p {
    font-family: FuturaPTLight;
    font-size: 19px;
    margin-bottom: 0px;
}


.input-form {
    width: 362px;
    margin: auto
}

#consultation input  {
    font-family: FuturaPTLightObl;
    padding: 0 25px;
    width: 360px;
    margin: auto;
    outline: none;
}

#consultation input,
#consultation button {
    height: 52px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 26px;
    display: block;
    margin-top: 25px;
}

#consultation button {
    width: 360px;
    font-family: Arial;
    font-size: 20px;
    background-image: linear-gradient(0deg, #f58220 0%, #ffdd00 100%);
    color: #fff;
    outline: none;
}

#consultation button:hover {
    cursor: pointer;
}

.slider {
    width: 680px;
    margin: auto;
    position: relative;
    height: 160px;
}
#big-slider .slider-container .slider-item {
    height: 140px;
    background-color: #fff;
    border: 1px solid #000;
    width: 120px !important;
}


#slider-big {
    background-color: rgb(248, 248, 248);
    background-image: url(../img/shape.png);
    background-position-y: -10px;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 60px 0;
}
.banner-slider-content {
    width: 810px;
    height: 455px;
    margin: 90px 0 60px 0;
    max-width: 80%;
}
#slider-big .item {
    background-image: url(../img/work-poster.jpg);
    width: 810px;
    height: 455px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#slider-big .owl-nav.disabled {
    display: block;
}

/*//////////////////////////*/


#slider-big  {
    max-width: 100%;
    min-height: 560px;
}

#slider-big  .owl-carousel {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 90%;
    margin: 40px auto;
}

.owl-dots {
    display: none;
}
#slider-big .owl-nav .owl-next,
#slider-big .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    color: transparent;
    background: url('../img/product-nav-arrow.png') no-repeat;
    width: 19px;
    height: 34px;
    
}
#slider-big .owl-nav .owl-next {
    right: 85px;
}
#slider-big .owl-nav .owl-prev {
    left: 85px;
    transform: scaleX(-1);
}

/*////////////////////////////////*/

#partners-slider {
    max-width: 100%;
}

#partners-slider .owl-carousel {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 80px;
    max-width: 90%;
    margin: 40px auto;
}

#partners-slider .item {
    height: 75px;
    width: 220px;
    background-image: url(../img/partners-sprite.jpg);
}

#partners-slider .item.loreal {
    background-position: 0 0;
    width: 230px;
}

#partners-slider .item.tvoe {
    background-position: -240px 0px;
    width: 180px;
}

#partners-slider .item.de-bon-ton {
    background-position: -480px 0px;
    width: 230px;
}

#partners-slider .snow-queen {
    background-position: -720px 0px;
    width: 230px;
}

#partners-slider .kerastase {
    background-position: -940px 0px;
    width: 230px;
}

.owl-dots {
    display: none;
}
#partners-slider .owl-nav .owl-next,
#partners-slider .owl-nav .owl-prev {
    position: absolute;
    top: 25%;
    color: transparent;
    background: url('../img/product-nav-arrow.png') no-repeat;
    width: 19px;
    height: 34px;
    
}
#partners-slider .owl-nav .owl-next {
    right: -35px;
}
#partners-slider .owl-nav .owl-prev {
    left: -35px;
    transform: scaleX(-1);
}

.slider-big {
    max-width: 100%;
}

.carousel, .owl-stage {
    width: 90%;
}

footer {
    padding-top: 20px;
    width: 100%;
    background-color: rgb(28, 28, 28);
    font-size: 15px;
    color: #fff;
    padding-bottom: 10px;
}

.footer-logo {
    margin-left: 15px;
    width: 57px;
    height: 64px;
    background-image: url(../img/its_logo.png);
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li a:hover {
    text-decoration: none;
    color: rgb(255, 163, 3);
}

.payment-info div {
    width: 60px;
    height: 45px;
    background-image: url(../img/payment-sprite.jpg);
}

.master,
.visa,
.paypal {
    display: inline-block;    
}

.payment-info div.visa {
    width: 90px;
    background-position: -85px 2px;
}

.payment-info div.paypal {
    width: 90px;
    background-position: -180px 2px;
}

footer, 
footer a,
footer h4 {
    font-family: FuturaPTLightObl;
    color: #fff;
    font-size: 15px;
}

footer h4 {
    color: rgb(255, 163, 3);
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 0;
}

.magento-info ul li, .about-us ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
}

.contact-info ul {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

.contact-info ul li:first-child {
    position: absolute;
    left: 0px;
    top: 5px;
    color: rgb(255, 163, 3);
    font-size: 24px;
}

footer p {
    margin-top: 20px;
    font-family: FuturaPTLightObl;
    color: rgb(183, 183, 183);
    text-align: center;
    font-size: 8px;
    margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
    
    .navbar-right li ul {
        margin-top: 10px;
        padding-left: 34px;
    }
    .navbar-right li ul li:first-child {
        position: absolute;
        left: 13px;
        top: 0;
        color: rgb(255, 163, 3);
        font-size: 16px;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 25px;
    }
    
    .content-right h3, 
    .content-right .options, 
    .content-right button {
        margin-left: 110px;
    }
    
    .certified {
        right: 20px;
    }
    
    #portfolio .ajour,
    #portfolio .melissa,
    #portfolio .dfstore,
    #portfolio .louise {
        min-height: 656px;
        background-size: contain;
        background-position: top;
    }
    
    #portfolio .portfolio-content {
        padding: 0 15px;
    }

    #portfolio .ajour .portfolio-content,
    #portfolio .melissa .portfolio-content,
    #portfolio .dfstore .portfolio-content, 
    #portfolio .louise .portfolio-content {
        width: 100%;
        color: #3B3B3B;
    }

    #portfolio .dfstore h3,
    #portfolio .dfstore i {
       color: #3B3B3B;
    }
    
    .devops {
        padding-top: 80px;
        padding-right: 40px;
        height: 410px;
    }
    
    .magento, 
    .erp, 
    .pim, 
    .wms, 
    .projecting, 
    .mobile-app {
        height: 195px;
        margin-bottom: 20px;
        position: relative;
        padding-left: 20px;
        padding-right: 35px;
    }
    
    #portfolio .portfolio-content {
        color: #333;
        margin-top: 586px;
        margin-bottom: 40px;
    }
    
    #slider-big .owl-nav .owl-next {
        right: 0px;
    }
    #slider-big .owl-nav .owl-prev {
        left: 0px;
    }
    
    .master,
    .visa,
    .paypal {
        display: block;    
    }
    
    .master {
        margin-top: 5px;
        margin-left: 12px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1069px){

    #portfolio .portfolio-content {
        color: #333;
        margin-top: 506px;
        margin-bottom: 40px;
    }

}
@media screen and (max-width: 991px) {
    #slider-big .item {
        width: 680px;
        height: 385px;
    }
    
    #slider-big .owl-nav .owl-next {
        right: -25px;
    }
    
    #slider-big .owl-nav .owl-prev {
        left: -25px;
    }
    
    .magento h3, .erp h3, .pim h3, .wms h3, .projecting h3, .mobile-app h3 {
    margin-top: 0px;
}
    
    .content-right h3, 
    .content-right .options, 
    .content-right button {
        margin-left: 50px;
    }
    
    .certified {
        bottom: 85px;
    }
    
    .navbar-right {
        margin-top: 0;
        margin-left: 20px;
        float: left!important;
    }
    
    .navbar-right li ul {
        padding-left: 40px;
        margin-left: 24px;
    } 
    
    .navbar-right li ul li:first-child {
        position: absolute;
        left: 13px;
        top: 0;
        color: rgb(255, 163, 3);
        font-size: 16px;
    }
    
    .navbar-default .navbar-nav>li>a {
        padding-top: 5px;
    }
    
    .navbar-left {
        margin-left: 80px;
        margin-top: -15px;
        position: absolute;
        top: 80px;
    }
    
    #portfolio .portfolio-content {
        margin-top: 476px;
    }
    
    .devops {
        padding-top: 0;
        height: 165px;
    }
    button.accordion {
        font-size: 18px;
    }
    
    footer .payment-info{
        width: 255px;
        margin: auto;
    }
    
    footer .payment-info div {
        display: inline-block;
        margin: 0;
    }
    
    #e-commerce a img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    #e-commerce .devops,
    #e-commerce .magento {
        min-height: 195px;
        padding-right: 60px;
    }
    
    #e-commerce .erp {
        padding-right: 40px;
    }
    
    #e-commerce .pim,
    #e-commerce .wms {
        padding-right: 45px;
    }
    
    #e-commerce .magento,
    #e-commerce .erp,
    #e-commerce .pim,
    #e-commerce .wms,
    #e-commerce .projecting,
    #e-commerce .mobile-app {
        padding-left: 20px;
        min-height: 195px;
    }
    
    #e-commerce .wms {
        float: right;
    }
    .contact-parent {
        margin-left: 0;
    } 
    
    #partners-slider .owl-nav .owl-next {
        right: -20px;
    }
    #partners-slider .owl-nav .owl-prev {
        left: -20px;
    }
}

@media screen and (max-width: 767px) {
    
    #slider-big .item {
        width: 600px;
        height: 325px;
    }
    
    #slider-big .owl-nav .owl-next {
        right: -20px;
    }
    
    #slider-big .owl-nav .owl-prev {
        left: -20px;
    }
    
    .magento h3, .erp h3, .pim h3, .wms h3, .projecting h3, .mobile-app h3 {
     margin-top: 20px; 
    }
    
    div#bs-example-navbar-collapse-1 {
        margin-top: 15px;
        padding-bottom: 10px;
    }
    
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent; 
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 28px;
        height: 3px;
        border: none;;
    }
    
    .navbar-left {
        margin-left: 0px;
        margin-top: 10px;
        position: relative;
        top: 0px;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    
    .navbar-right {
        position: relative;
        margin-top: -20px;
        margin-left: 0;
    }
    
    .navbar-right li ul {
        padding-left: 10px;
    }
    
    .navbar-right li ul li:first-child {
        left: -18px;
    }
    
    .navbar-right li:nth-child(2) {
        display: none;
    }
    
    .navbar-right li ul li:nth-child(2) {
        display: none;
    }
    
    .content-left {
        font-size: 26px;
        margin-top: 45px;
        margin-bottom: 40px;
    }
    
    #portfolio .dfstore h3{
        color: rgb(210, 30, 41);
    }
    
    #e-commerce {
        padding-bottom: 60px;
    }
    #bs-example-navbar-collapse-1 {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 101;
        width: 100%;
    }
    
    .navbar-header .navbar-default {
        border: none;
    }
    
    .row.content {
        margin-top: 0px;
    }
    
    .row.content .content-right {
        position: static;
        text-align: center;
    }
    
    .certified {
        position: absolute;
        top: 80px;
        right: 10px;
        bottom: 55px;
    }
    
    .price h3,
    .price p {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .options {
        padding-left: 30px;
        text-align: left;
    }
    
    .price {
        text-align: left;
        padding-bottom: 10px;
    }
    
    .content-right h3, 
    .content-right .options, 
    .content-right button {
        margin-left: 0;
    }

    #portfolio .portfolio-content {
        margin-top: 376px;
    }
    
    .portfolio-pref {
        text-align: center;
    }
    
    #portfolio .portfolio-pref .pref-item {
        max-width: 96px;
    }
    
    #e-commerce .devops {
        padding-top: 16px;
        padding-right: 210px;
        margin-bottom: 20px;
    }
    
    #e-commerce a img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    #e-commerce .magento {
        padding-top: 155px;
        padding-right: 85px;
        padding-left: 15px;
        margin-bottom: 20px;
        height: 532px;
    }
    
    #e-commerce .magento, #e-commerce .erp, #e-commerce .pim, #e-commerce .wms, #e-commerce .projecting, #e-commerce .mobile-app {
        padding-left: 20px;
        min-height: 165px;
    }
    
    #e-commerce .erp,
    #e-commerce .pim,
    #e-commerce .wms {
        padding-top: 0px;
        padding-bottom: 18px;
        padding-right: 60px;
        padding-left: 20px;
        margin-bottom: 18px;
        max-height: 165px;
    }
    
    #e-commerce {
        background-color: rgb(243, 243, 243);
    }
    
    #e-commerce .projecting {
        padding-left: 20px;
        padding-right: 60px;
    }
    
    #e-commerce .mobile-app {
        padding-left: 20px;
        padding-right: 400px;
    }
    
    #consultation {
        padding-bottom: 60px;
    }
    
    button.accordion {
        font-size: 18px;
    }
    
    footer h4 {
        margin-bottom: 10px;
    }
    
    .about-us h4 {
        margin-top: 15px
    }
    
    .footer-logo {
        margin: 0 auto 10px auto;
    }
    
    .about {
        margin-top: 20px;
    }
    
    h2 {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    #partners-slider .owl-nav .owl-next {
        right: -10px;
    }
    .magento-info ul li, .about-us ul li {
        margin: 0;
    }
}

@media screen and (max-width: 637px) {
    
    #slider-big .item {
        width: 400px;
        height: 265px;
    }
    
    #slider-big .owl-nav .owl-next {
        right: -15px;
    }
    
    #slider-big .owl-nav .owl-prev {
        left: -15px;
    }
    
    .input-form {
        max-width: 100%;
    }

    .contact-form .phone {
        max-width: 100%;
    }
    
    .contact-form .phone p {
        font-size: 26px;
        line-height: 2.3em;
    }
    
    .contact-form .phone p span {
        font-size: 18px;
    }
    
    .contact-form button,
    .contact-form input {
        max-width: 92%;
        margin: auto;
    }
    
    .team-uxs-6 {
        width: 50%;
    }
    
    .col-uxs-12 {
        width: 100%;
    }
    
    .hidden-uxs {
        display: none;
    }
    
    #e-commerce .col-uxs-12 div {
        padding: 0 245px 0 20px;
        min-height: 165px;
        height: auto;
    }
    
    #e-commerce .col-uxs-12 div.projecting {
        padding-right: 60px;
    }
    
    #e-commerce .col-uxs-12 div.mobile-app {
        padding-right: 400px;
    }
    
    #e-commerce {
        padding-bottom: 60px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 609px) {
    
    #e-commerce .col-uxs-12 div {
        padding: 0 85px 0 20px;
        min-height: 165px;
        height: auto;
    }
    
    #e-commerce .col-uxs-12 div.mobile-app {
        padding-right: 240px;
    }
}

@media screen and (max-width: 497px) {
    #slider-big {
        min-height: 300px;
        padding: 20px 0;
    }
    #slider-big .item {
        width: 280px;
        height: 200px;
    }
    
    #slider-big .owl-nav .owl-next {
        right: -5px;
    }
    
    #slider-big .owl-nav .owl-prev {
        left: -5px;
    }
}

@media screen and (max-width: 420px) {
    .team-uxs-12 {
        width: 100%;
    }
    
    #portfolio .ajour, 
    #portfolio .melissa, 
    #portfolio .dfstore, 
    #portfolio .louise {
        min-height: 500px;
    }
    
    #portfolio .portfolio-content {
        margin-top: 196px;
        margin-bottom: 0;
    }
    
    #portfolio .portfolio-content h3 {
        margin-bottom: 20px;
    }
    
    #e-commerce .col-uxs-12 div {
        padding: 0 50px 0 20px;
        min-height: 165px;
        height: auto;
    }
    
    #e-commerce .col-uxs-12 div.mobile-app {
        padding-right: 80px;
    }
    
    #partners-slider .owl-nav .owl-next {
        right: -5px;
    }
}

