div.arrow {
  width: 55%;
  height: 45px;
  min-width: 500px;
  padding: 5px;
  margin: 50px auto;
  background: linear-gradient(to top, #ECBC41, #FECA45);
  display: block;
  position: relative;
}

div.arrow:after {
  content: "";
  position: absolute;
  left: 96%;
  top: 0;
  border: 28px solid #FFFFFF;
  border-left: 15px solid transparent;
   background: linear-gradient(to top, #ECBC41, #FECA45);
}

div.field input {
  width: 80%;
  background: #FFFFFF;
  height: 28px;
  margin: 0;
  padding: 0;
}

button {
  width: 75px;
  height: 28px;
	margin-left: 1px;
  padding: 0;
  font-size: 15px;
	vertical-align: top;
  border: 1px solid #777777;
  border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

button:active {
    font-weight: bold;
    border-color: #c6c6c6;
}

p {
  font-family: Arial, san-serif;
  font-size: 13px;
  margin-top: 5px;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted;
}
