@font-face {
    font-family: Lavanderia Regular;
    src: url(../fonts/LavanderiaRegular.otf);
}
@font-face {
    font-family: Sagoe UI;
    src: url(../fonts/sagoe.ttf);
}
@font-face {
    font-family: Alte Haas Grotesk;
    src: url(../fonts/AlteHaasGroteskBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
/*    min-width: 768px;*/
}
.header {
    width: 100%;
}
.top-line {
/*    max-width: 1024px;*/
    width: 100%;
    margin: auto;
/*    padding: 0 40px;*/
}
.logo,
.nav {
    display: inline-block;
}
.header {
    position: absolute;
    background: rgba(255, 255, 255, .8);
}
.logo {
    font-family: 'Lavanderia Regular', sans-serif;
    font-size: 39px;
    text-decoration: none;
    color: #555655;
}
.logo span {
    color: #C88290;
}
.nav {
    list-style-type: none;
    padding-left: 370px;
    padding-bottom: 10px;
}
.nav li {
    display: inline-block;
}
.nav a {
    padding: 5px 15px;
    text-decoration: none;
    color: #818182;
    font-family: 'Sagoe UI', sans-serif;
    font-size: 17px;
    z-index: 101;
}
.nav a:hover {
    color: #ce3f3f;
    transition: all 0.5s linear;
}
.login:before {
    content: url(../images/Shape-1.png);
    margin-right: 5px;
}
.nav .login {
    background: #DE6D6E;
    color: #fff;
    border-radius: 5px;
}
.banner {
    margin-top: -60px;
    padding: 0;
    height: 589px;
    background: url(../images/banner.jpg) top no-repeat;
    background-size: cover;
    text-align: center;
}
h2 {
    padding-top: 455px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-size: 70px;
    line-height: 1px;
    color: #fff;
}
.banner p {
    font-family: 'Sagoe UI', sans-serif;
    font-size: 25px;
    color: #fff;
}
.services {
    min-height: 470px;
    margin-top: -20px;
    border-bottom: 3px solid #E9E9E9;
    text-align: center;
    font-family: 'Sagoe UI', sans-serif;
}
.services h3 {
    margin-top: 40px;
    color: #444444;
}
.services p {
    color: #979797;
}

.rounds {
    padding: 25px 0;
/*    max-width: 1024px;*/
    margin: 0 auto;
}



.round-item {
		width: 180px;
    height: 180px;
    display: inline-block;
  	position: relative;
    margin: 35px;
}

.round-item div {
		width: 180px;
    height: 180px;
		border-radius: 90px;
		position: absolute;
}

.rounds p {
    color: #fff;
}
.sub-round {
    opacity: 0;
	z-index: 101;
}
.sub-round p {
    padding: 35px 15px;
    font-size: 12px;
    color: #ffffff;
}


.sub-round:hover {
    opacity: 1;
    transition: 0.5s opacity linear;
		cursor: pointer;
}


.tickets {
    background: #4EB9F4;
}
.tickets img {
    margin-top: 34px;
}
.camera {
    background: #6FC125;
}
.camera img {
    margin-top: 46px;
}
.beer {
    background: #FF5649;
}
.beer img {
    margin-top: 31px;
}
.blue {
    background-color: rgba(178, 185, 244, 0.7);
}
.green {
    background-color: rgba(111, 193, 37, 0.7);
}
.red {
    background-color: rgba(255, 86, 73, 0.7);
}
.orange {
    background-color: rgba(228, 143, 35, 0.7);
}
.tablet {
    background: #E48F23;
}
.tablet img {
    margin-top: 40px;
}



.news-feed img {
    float: left;
    margin: 20px;
}
.news-feed {
    width: 100%;
}

.news {
    max-width: 1024px;
    width: 100%;
    padding-left: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: table;
    font-family: 'Sagoe UI', sans-serif;
    color: #545454;
}
.news h3 {
    padding-top: 15px;
}
.news a {
    text-decoration: none;
    color: #545454;
}
.news p {
    text-align: justify;
/*    padding: 0 20px;*/
}
.footer {
    padding-top: 40px;
    width: 100%;
    min-height: 258px;
    background: url(../images/Rectangle-1-copy-2.png);
    background-repeat: repeat;
    color: #9E9F9E;
    font-family: 'Sagoe UI', sans-serif;
}
.footer-menu,
.copyright {
    width: 130px;
    display: inline-block;
    margin: 0 10px;
}
.footer-menu p {
    font-size: 18px;
}
.sub-menu {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}
.sub-menu a {
    text-decoration: none;
    color: #9E9F9E;
}
.bottom-lists {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.copyright {
    width: 310px;
    margin: 0;
}
.copyright div {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background: #696B6A;
    display: inline-block;
    margin: 11px;
    position: relative;
}
.copyright div:after {
    position: absolute;
    height: 33px;
    width: 50px;
    background-image: url(../images/sprite.png);
    content: '';
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -6px;
}
.twitter:after {
    background-position: -80px 0px;
}
.dribble:after {
    background-position: -152px;
}
.share:after {
    background-position: -229px;
}
.copyright div:first-child {
    margin-left: 0;
}

.copyright div:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1023px) {
    .top-line {
        padding: 0;
    }
	
		.nav {
					display: none;
    }
    .rounds {
        max-width: 560px;
    }
	
    .news {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer {
        padding: 0;
        max-width: 100%;
    }
    .bottom-lists {
        padding: 0;
    }
    .footer-menu,
    .copyright {
        margin-left: 40px;
    }
}